<div class="panel panel-default">
  <div class="panel-heading">Your Cart</div>
  <table class="table">
  <tr>
    <th></th>
    <th>Beer</th>
    <th>Quantity</th>
    <th></th>
    <th>Price</th>
    <th>Subtotal</th>
  </tr>
  <% cart_beers.each do |beer| %>
  <tr>
    <td><%= image_tag(beer.image, :height => '25', :width => '40') %></td>
    <td><%= beer.name %></td>
    <td><%= @cart.contents[beer.id.to_s] %></td>
    <td><span class="glyphicon glyphicon-align-left" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="<%= beer.description %>"></span></td>
   <td>$<%= beer.price %></td>
   <td><%= cart_row_subtotal(beer) %></td>
   <td><%= form_tag cart_update_path(:beer => beer.id) do %>
    <%= select_tag :quantity, options_for_select((0..99)) %>
   <%= submit_tag "Update" %></td>
      <% end %>
    <td><%= button_to "Remove", cart_remove_path(beer.id), method: :delete  %></td>
  <% end %>
    </tr>
  </table>
    <td><div class="cart-total">Total: <%= number_to_currency(cart_total) %></td></div>
  </div>
    <td><% if logged_in? %>
      <%= button_to "Place Order", user_orders_path(current_user), disabled: disable_place_order_button, class:"btn btn-secondary" %>
    <% end %>
    <% if logged_in?.nil? %>
      <p> To checkout, <%= link_to "Log In", login_path %> or <%= link_to "Create Account", new_user_path %> </p>
    <% end %></td>
</div>
