<h1>Cart Show Page</h1>

  <% cart_beers.each do |beer| %>
    <li><%= beer.name %> Quantity: <%= @cart.contents[beer.id.to_s] %></li>
     <li>Price: $<%= beer.price %></li>
     <li>Subtotal: <%= beer.price * @cart.contents[beer.id] %></li>
    <%= form_tag cart_update_path(:beer => beer.id) do %>
      <%= select_tag :quantity, options_for_select((0..99)) %>
    <%= submit_tag "Update" %>
    <% end %>

    <%= button_to "Remove", cart_remove_path(beer.id), method: :delete  %>
  <% end %>





Total: $<%= cart_total %>
