<div class="container-fluid">
  <h1>Order #<%= @order.id %></h1>
</div>
<div class="container-fluid">
  <% @order.beers.each do |beer| %>
  <%= link_to beer.name, beer_path(beer) %>
  <ul>
    <li><%= beer.price %></li>
    <li>Quantity: <%= beer.get_beer_order(@order) %></li>
    <li>Subtotal: <%= beer.price * beer.get_beer_order(@order) %></li>
  </ul>
    <% end %>
</div>
