<div class="container-fluid">
  <h1>Order #<%= @order.id %></h1>
</div>
<div class="container-fluid">
  <% @order.beers.each do |beer| %>
  <%= link_to beer.name, beer_path(beer) %>
  <ul>
    <li><%= beer.price %></li>
    <li>Quantity: <%= beer.get_beer_order(@order) %></li>
    <li>Subtotal: <%= beer.get_subtotal(@order) %></li>
  </ul>
    <% end %>
</div>

<p> Order Status: <%= @order.order_status %> </p>
<p> Order Date: <%= @order.created_at %> </p>
<p> Last Updated: <%= @order.updated_at %> </p>
<p> Order Total: <%= @total %> </p>
