<ol class="breadcrumb">
  <li><a><%= link_to "Home", root_path %></a></li>
  <li class="active">Beers</li>
</ol>
<h1>All Beers</h1>

<div class="row">
  <% @beers.each do |beer| %>
    <div class="col-sm-3">
      <div class="panel panel-default" id="panel_width">
        <div class="panel-heading text-center">
          <div class="panel-body text-center">
          <%= link_to beer.name, beer_path(beer) %> </div>
        <% if beer.status == "instock" %>
            <%= image_tag(beer.image, :height => '180', :width => '240') %><br>
            <strong><%= number_to_currency(beer.price) %></strong><br>
            <span class="glyphicon glyphicon-align-left" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="<%= beer.description %>"></span>
            <%= button_to "Add to Cart", cart_path(beer_id: beer.id), class: "btn btn-primary" %>
          <% else %>
            <%= image_tag("sold-out-png-30.png", :height => '180', :width => '180') %><br>
            <strong><%= number_to_currency(beer.price) %></strong><br>
            <span class="glyphicon glyphicon-align-left" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="<%= beer.description %>"></span>
            <%= button_to "Unavailable", cart_path(beer_id: beer.id), class: "btn btn-primary", disabled: true %>
        <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>
